body {
  background-color: #C5FFFD;
  color: #A3A5C3;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}

h1  {
  color: #947EB0;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 80px;
}

img {
  border: 5px double #88D9E6;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

h2  {
  text-align: center;
}

.center{
  text-align: center;
}

.green-text {
  color: green;
}

.fancy-font {
  font-style: oblique;
  font-family: fantasy;
  font-stretch: ultra-expanded;
}

.center_text {
  text-align: center;
}
